.imp-actionbtn {
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
}

.imp-actionbtn a {
	color: inherit;
}

.imp-modalalert {
	margin-bottom: 0px;
}

.imp-dnsheader {
	border: 1px solid #DDD;
	border-bottom: none;
	padding: 8px;
	background-color: #F9F9F9;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.imp-dnstable {
	table-layout: fixed;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.imp-dnstable th {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.imp-dnstable td {
	word-wrap: break-word;
}

.navbar-inner .container-fluid {
	padding-right: 10px;
}

.imp-hide {
	display: none;
}

.imp-switchport {
	background-color: green;
	text-align: center;
	color: white;
	border-radius: 4px;
	padding-top: 5px;
}

.imp-up {
	background-color: #468847;
}

.imp-down {
	background-color: #333;
}

.imp-disabled {
	background-color: #B94A48;
}

.imp-loading {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.imp-simplebutton {
	margin-bottom: 1.5em;
}

.imp-simplebuttontable {
	width: 100%;
}

.imp-simplebuttontable td {
	/**padding-left: 2em;
	padding-right: 2em;**/
}

.imp-simplebuttontest {
	min-height: 3em !important;
	margin-bottom: 1em;
	font-size: 1.5em;
	font-weight: bold;
}

.imp-simplebutton h2 {
	margin-top: auto;
	margin-bottom: auto;
}

.imp-sbtncontainer {
	display: table !important;
	min-height: 8em !important;
	width: 100%;
	margin-bottom: 1em;
}

.imp-sbtn {
	display: table-cell;
	vertical-align: middle;
	height: 8em;
}

.imp-logo {
	height: 60px;
	margin-bottom: 6px;
}
