<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');

// Set the environment variable to get the username from.
#$config['imp_username_env'] = "WEBAUTH_USER";
$config['imp_username_env'] = "REMOTE_USER";

// Set the environment variable to get a name to display for the user.
#$config['imp_displayname_env'] = "WEBAUTH_LDAP_CN";
$config['imp_displayname_env'] = "REMOTE_USER";

/* End of file config.php */
/* Location: ./application/config/config.php */
